@use '../../../shared/sass/mixin.scss';
@use '../../../shared/sass/responsive.scss';

.nav-container{
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 4%;
  height: 100vh;
  border-right: 1px solid rgba(#fff, 0.125);
  border-bottom-right-radius: .2rem;
  border-top-right-radius: .2rem;
  background: rgba(#8fcbd3, .5);
  backdrop-filter: blur(150px);
  box-shadow: 0 10px 10px #000000AA;
  & > ul{
    & > li{
    list-style: none;
    margin-top: 2rem;
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    color: #fff;
    cursor: pointer;
    transition: .5s;
    & > a{
      i{
        color: #fff;
        &:hover{
          color: #e7e7e7;
          transition: .1s;
        }
      }
    }
      &:nth-child(3){
        position: absolute;
        bottom: 2rem;
      }
      &:hover{
        color: #dcdcdc;
        transition: .1s;
      }
    }
  }
}

@include responsive.nav();