@use "../scss/mixin.scss";
@use "../scss/responsive.scss";

.chat-container {
  @include mixin.container();
  .chat-wrapper {
    width: 80%;
    height: 80%;
    @include mixin.form-style();
    flex-direction: initial;
    overflow: hidden;
    .users-area {
      position: relative;
      width: 30%;
      height: 100%;
      border-right: 2px solid rgba(#fff, 0.125);
      & > h2 {
        height: 10%;
        color: #fff;
        font-size: 1.3rem;
        font-weight: 300;
        @include mixin.center-flex();
        border-bottom: 2px solid rgba(#fff, 0.125);
      }
      .all-users-wrapper {
        width: 100%;
        height: calc(90% - 1px);
        overflow-y: scroll;
        color: #fff;
        .user-wrapper {
          border-bottom: 2px solid rgba(#fff, 0.125);
          width: 100%;
          height: 4rem;
          @include mixin.center-flex();
          justify-content: initial;
          cursor: pointer;
          overflow: hidden;
          &:hover {
            filter: contrast(70%);
          }
          .user-photo {
            border-radius: 50%;
            height: 70%;
            margin: 0 8px;
          }
          .user {
            .user-name {
              font-size: 1rem;
              font-weight: 300;
              word-break: break-all;
              color: #fff;
              width: max-content;
            }
            .user-data {
              font-size: 0.8rem;
              font-weight: 300;
              color: #fff;
              word-break: break-all;
              width: max-content;
            }
          }
        }
      }
    }
    & > span {
      z-index: 100;
      color: #fff;
      display: none;
    }
    .messege-area-wrapper {
      position: relative;
      width: 70%;
      height: 100%;
      .actual-contact {
        display: flex;
        align-items: center;
        width: 100%;
        height: 10%;
        border-bottom: 2px solid rgba(#fff, 0.125);
        & > img {
          height: 70%;
          margin: 0 1rem;
          border-radius: 50%;
        }
        & > div {
          & > h2 {
            color: #fff;
            font-size: 1.3rem;
            font-weight: 300;
          }
          & > h3 {
            color: rgba(#fff, 0.5);
            font-size: 0.9rem;
            font-weight: 300;
          }
        }
      }
      .messeges-container {
        position: relative;
        width: 100%;
        height: 80%;
        overflow-y: scroll;
        .messege-wrapper {
          width: 100%;
          display: flex;
          flex-direction: column;
          .messege {
            position: relative;
            background: #d8e3e7;
            width: 40%;
            border-radius: 0.5rem;
            margin: 0.6rem;
            .text {
              padding: 0.6rem;
              font-size: 1.1rem;
            }
            .time {
              padding: 0px 0.6rem 0.6rem 0;
              text-align: end;
              font-size: 1.1rem;
              & > span {
                font-weight: 300;
                margin-right: 0.5rem;
                font-size: 1rem;
              }
            }
          }
          .current-user {
            background: #126e82;
            color: #fff;
            align-self: flex-end;
          }
        }
      }
      .input-text {
        @include mixin.center-flex();
        justify-content: space-around;
        width: 100%;
        height: 10%;
        bottom: 0;
        border-top: 2px solid rgba(#fff, 0.125);
        & > input {
          padding: 0 0.5rem;
          width: 80%;
          height: 2.5rem;
          border: none;
          border-radius: 2px;
          outline: none;
          font-size: 1rem;
        }
        .send {
          width: 8%;
          font-size: 1.5rem;
          cursor: pointer;
          color: #fff;
          &:hover {
            color: #dddddd;
          }
        }
      }
    }
    .no-selected-user {
      position: relative;
      width: 70%;
      height: 100%;
      @include mixin.center-flex();
      & > h3 {
        color: #fff;
        font-weight: 300;
        font-size: 2rem;
      }
    }
  }
}

@include responsive.chat();
