@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import "toastr";

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: -webkit-fill-available;
}

:root {
  font-size: 1vw;
  @media (max-width: 1024px) {
    font-size: 1.5vh;
  }
  @media (max-width: 720px) {
    font-size: 1.5vh;
  }
  @media (max-width: 1024px) and (orientation: landscape) {
    font-size: 1.2vw;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(
    300deg,
    rgba(19, 44, 51, 0.2),
    rgba(18, 110, 130, 0.2)
  );
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: rgba(216, 227, 231, 0.7);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(216, 227, 231, 0.5);
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    body {
      min-height: -webkit-fill-available;
    }
  }
}
#root {
  height: 100%;
}

.App {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to left top,
    #132c33,
    #153c46,
    #164c59,
    #165d6d,
    #126e82
  );
}
