@use "../scss/mixin.scss";
@use "../scss/responsive.scss";
@use "../scss/animations.scss";

.login-container {
  @include mixin.container();
  .form-wrapper {
    width: 35rem;
    height: 42rem;
    @include mixin.form-style();
    & > h2 {
      height: 23%;
      font-size: 3rem;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      @include mixin.center-flex();
    }
    .form {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 90%;
      .email {
        @include mixin.input-effect();
        height: 4vh;
      }
      .password {
        margin: 20px 0;
        @include mixin.input-effect();
        height: 9vh;
      }
      .input {
        padding-left: 1.5rem;
        width: calc(100% - 1.5rem);
        height: 4vh;
        outline: none;
        border: none;
        border-radius: 0.2rem;
        font-size: 1rem;
      }
      & > label {
        font-size: 1rem;
      }
      .emptyInput {
        height: 4vh;
        & ~ label {
          transform: translateY(-155%);
          color: #fff;
        }
      }
      .submit {
        @include mixin.auth_buttons();
      }
    }
    & > span {
      color: #fff;
      font-size: 1rem;
    }
    .account {
      margin: 1rem;
      & > a {
        cursor: pointer;
        text-decoration: underline;
        color: rgba(#fff, 0.5);
        margin: 1rem;
        font-size: 1rem;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

@include animations.rotate();
@include responsive.login();
