@use "../scss/mixin.scss";

.social-buttons-container {
  display: flex;
  flex-direction: column;
  .google {
    @include mixin.sign-in-button();
    background: #d04333;
    &:hover {
      background: #912b20;
    }
  }
  .facebook {
    @include mixin.sign-in-button();
    background: #3c66c5;
    &:hover {
      background: #294b9c;
    }
  }
}
