@use '../../../shared/sass/mixin.scss';
@use '../../../shared/sass/responsive.scss';

.social-buttons-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  .google{
    @include mixin.sign-in-button();
    background: #D04333;
    &:hover{
      background: #912b20;
    }
  }
  .facebook{
    @include mixin.sign-in-button();
    background: #3C66C5;
    &:hover{
      background: #294b9c;
    }
  }
}

@include responsive.sign-in-button();
