@mixin login {
  @media (max-width: 1024px) {
    .login-container{
      .form-wrapper{
        width: 70vw;
      }
    }
  }
  @media (max-width: 720px) {
    .login-container{
      .form-wrapper{
        width: 90vw;
        height: 90vh;
        .account{
          & > a{
            text-align: center;
            display: block;
          }
        }
      }
    }
  }
}

@mixin sign-up {
  @media (max-width: 1024px) {
    .sign-up-container{
      height: 100vh;
      overflow: hidden;
      .form-wrapper{
        width: 90vw;
        height: 90vh;
        .account{
          & > a{
            text-align: center;
            display: block;
          }
        }
      }
    }
  }
  @media (max-width: 720px) {
    .sign-up-container{
      height: 130vh;
      overflow-y: scroll;
      .form-wrapper{
        height: 120vh;
        .form-container{
          .form{
            .line-one, .line-two, .line-three{
              position: relative;
              flex-wrap: wrap;
              height: 11rem;
              .input-wrapper{
              position: relative;
                width: 100%;
                .input{
                  position: relative;
                }  
              }
              .photo-user{
                justify-content: initial;
              }
            }
          }
        }
      }
    }
  }
}

@mixin chat {
  @media (max-width: 720px) {
    .chat-container{
      .chat-wrapper{
        .users-area{
          transition: .5s;
          width: 0;
          overflow: hidden;
        }
        & > span{
          position: absolute;
          top: 15px;
          left: 25px;
          display: block;
          font-size: 7vw;
        }
        .messege-area-wrapper{
          width: 100%;
          overflow: hidden;
          .actual-contact{
            margin-left: 50px;
          }
          .messeges-container{
            .messege-wrapper{
              .messege{
                width: 80%;
                .text, .time{
                  font-size: 3.5vw;
                  & >  span {
                    font-size: 3vw;
                  }
                }
              }
            }
          }
          .input-text{
            & > input{
              width: 75%;
              font-size: 4vw;
            }
            .send{
              font-size: 4vw;
            }
          }
        }
        .no-selected-user{
          width: 100%;
          overflow: hidden;
          & > h3{
            position: absolute;
            font-size: 4vw;
            width: max-content;
          }
          transition: .5s;
        }
        .toggle-user{
          width: 100%;
          transition: .5s;
        }
        .toggle{
          width: 0;
          transition: .5s;
        }
      }
    }
  }
}

@mixin nav {
  @media (max-width: 720px) {
    .nav-container{
      position: fixed;
      top: initial;
      bottom: 0;
      width: 100%;
      height: 5vh;
      & > ul{
        display: flex;
        & > li{
          margin: 0;
          width: auto;
          margin: 5px 10px 0 10px;
          &:nth-child(3){
            position: absolute;
            top: 0;
            right: 20px;
          }
          &:hover{
            &::before{
              content: '';
              width: 0;
              height: 0;
            }
          }
        }
      }
    }
  }
}

@mixin profile {
  @media (max-width: 720px) {
    .profile-container{
      .actions{
        .save-button, .cancel-button{
          width: 100px;
            height: 30px;
            &::after{
              font-size: 15px;
            }
        }
      }
      .profile-wrapper{
        width: 90vw;
        height: 80vh;
        & > h4{
          font-size: 5vw;
        }
        & > table{
          tr{
            td{
              font-size: 4vw;
              label{
                & > img{
                  width: 20vw;
                }
                & > span{
                  width: 20vw;
                  height: 20vw;
                }
              }
            }
          }
        }
      }
    }
  }
}

@mixin recover {
  @media (max-width: 1024px){
    .recover-container{
      .recover-wrapper{
        width: 80vw;
      }
    }
  }
}
