
@use '../../shared/sass/mixin.scss';
@use '../../shared/sass/responsive.scss';
@use '../../shared//sass/animations.scss';


.login-container{
  width: 100vw;
  height: 100vh;
  @include mixin.center-flex();
  overflow: hidden;
  .blur-background{
    z-index: -100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #132C33;
    background: linear-gradient(300deg, #132C33, #126E82);
    filter: blur(150px);
  }
  .form-wrapper{
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 37%;
      height: 80%;
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      background: rgba(#8fcbd3, .5);
      border-radius: 12px;
      border: 1px solid rgba(#fff, 0.125);
      box-shadow: 0 25px 45px #000000AA;
      & > h2{
        height: 23%;
        font-size: 3em;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        @include mixin.center-flex();
      }
      .form{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 90%;
        .email{
          @include mixin.input-effect();
          height: 4vh;
        }
        .password{
          margin: 20px 0;
          @include mixin.input-effect();
          height: 9vh;
        }
        .input{
          padding-left: 15px;
          width: calc(100% - 15px);
          height: 4vh;
          outline: none;
          border: none;
          border-radius: 2px;
          font-size: 1vw;
        }
        & > label{
          font-size: 1em;
        }
        .emptyInput{
          height: 4vh;
          & ~ label{
            transform: translateY(-155%);
            color: #fff;
          }
        }
        .submit{
         @include mixin.auth_buttons();
        }
      }
      & > span {
        color: #fff;
        margin: 0 0 20px 0;
      }
      .account{
        margin: 20px 0;
        & > a{
          cursor: pointer;
          text-decoration: underline;
          color: rgba(#fff, .5);
          margin: 10px;
          font-size: .9em;
          &:hover{
              color: #fff;
          }
        }
      }
    }
}

@include animations.rotate();
@include responsive.loginResponsive();