@use "./animations.scss";
@use "./responsive.scss";

@mixin container {
  position: absolute;
  width: 100%;
  height: 100%;
  @include center-flex();
  overflow: hidden;
  background-image: linear-gradient(
    to left top,
    rgba(224, 224, 224, 0.25),
    rgba(255, 255, 255, 0.25)
  );
  backdrop-filter: blur(50px);
}

@mixin form-style {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(2rem);
  -webkit-backdrop-filter: blur(20em);
  background: rgba(#8fcbd3, 0.5);
  border-radius: 12px;
  border: 1px solid rgba(#fff, 0.125);
  box-shadow: 0 25px 45px #000000aa;
}

@mixin input-effect {
  display: flex;
  align-items: center;
  height: 5rem;
  & > input {
    position: absolute;
    &:focus ~ label {
      position: absolute;
      color: #fff;
      transform: translateY(-160%);
      transition: 0.5s;
    }
  }
  label {
    position: absolute;
    color: #535353;
    cursor: text;
    transition: 0.5s;
    margin-left: 1rem;
    font-size: 1rem;
  }
}

@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin center-absolute {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@mixin auth-buttons {
  position: relative;
  align-self: center;
  width: 11rem;
  height: 3.5rem;
  background: #d8e3e7;
  border: none;
  border-radius: 0.2rem;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  &:hover {
    &::before {
      background: rgba(#126e82, 0.7);
      animation: rotate 2s linear infinite;
      transition: 0.5s;
    }
  }
  &:active {
    background: #d0dadd;
    transition: 0.1s;
    &::after {
      background: #d0dadd;
      transition: 0.1s;
    }
  }
  &::after {
    content: "Login";
    position: absolute;
    @include center-flex();
    color: #132c33;
    width: 96%;
    height: 90%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0.5rem;
    background: #d8e3e7;
    font-size: 1rem;
    transition: 0.5s;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -25%;
    margin: auto;
    width: 150%;
    height: 50%;
    border-radius: 0.2rem;
    animation: rotate 2s linear infinite;
    transition: all 0.5s;
  }
}

@mixin sign-in-button {
  position: relative;
  height: 2.8rem;
  width: 15rem;
  padding-left: 1rem;
  margin: 1rem;
  font-size: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  transition: 0.1s;
  &:hover {
    transition: 0.1s;
  }
  & > i {
    position: absolute;
    left: 1.5rem;
  }
}

@include animations.rotate();
